[submodule "submodules/hed-python"]
	path = submodules/hed-python
	url = https://github.com/hed-standard/hed-python.git
[submodule "submodules/hed-vis"]
	path = submodules/hed-vis
	url = https://github.com/hed-standard/hed-vis.git
[submodule "submodules/table-remodeler"]
	path = submodules/table-remodeler
	url = https://github.com/hed-standard/table-remodeler.git
[submodule "submodules/hed-mcp"]
	path = submodules/hed-mcp
	url = https://github.com/hed-standard/hed-mcp.git
[submodule "submodules/hed-matlab"]
	path = submodules/hed-matlab
	url = https://github.com/hed-standard/hed-matlab.git
[submodule "submodules/ndx-hed"]
	path = submodules/ndx-hed
	url = https://github.com/hed-standard/ndx-hed.git
[submodule "submodules/hed-schemas"]
	path = submodules/hed-schemas
	url = https://github.com/hed-standard/hed-schemas.git
[submodule "submodules/hed-javascript"]
	path = submodules/hed-javascript
	url = https://github.com/hed-standard/hed-javascript.git
[submodule "submodules/hed-web"]
	path = submodules/hed-web
	url = https://github.com/hed-standard/hed-web.git
[submodule "submodules/CTagger"]
	path = submodules/CTagger
	url = https://github.com/hed-standard/CTagger.git
[submodule "submodules/hed-specification"]
	path = submodules/hed-specification
	url = https://github.com/hed-standard/hed-specification.git
[submodule "submodules/hed-tests"]
	path = submodules/hed-tests
	url = https://github.com/hed-standard/hed-tests.git
