[submodule "submodules/hed-python"]
	path = submodules/hed-python
	url = https://github.com/hed-standard/hed-python.git
[submodule "submodules/hed-vis"]
	path = submodules/hed-vis
	url = https://github.com/hed-standard/hed-vis.git
[submodule "submodules/table-remodeler"]
	path = submodules/table-remodeler
	url = https://github.com/hed-standard/table-remodeler.git
[submodule "submodules/hed-mcp"]
	path = submodules/hed-mcp
	url = https://github.com/hed-standard/hed-mcp.git
[submodule "submodules/hed-matlab"]
	path = submodules/hed-matlab
	url = https://github.com/hed-standard/hed-matlab.git
[submodule "submodules/ndx-hed"]
	path = submodules/ndx-hed
	url = https://github.com/hed-standard/ndx-hed.git
